.orders {
  display: flex;
  flex-wrap: wrap;
}

.order {
  margin: 1rem;
  padding: 1rem;
  border: dashed greenyellow 2px;
  width: 12rem;
}

.order__total {
  margin: 1rem;
  padding: 1rem;
  border: solid greenyellow 2px;
  background-color: gold;
  width: 12rem;
}